:root {
    --bg-green:#029587;
    --bg-gray:#DBDAD2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Readex Pro', sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* BACKGROUND CONTAINER */
.container {
    width: 100%;
    min-width: 800px;
    height: 100vh;
    background: linear-gradient(180deg, var(--bg-green) 25%, var(--bg-gray) 25%);
    display: flex;
}

/* CHAT CONTAINER */
.chat-container {
    height: 90%;
    width: 80%;
    min-width: 800px;
    margin: auto;
    background-color: pink;
}

/* navbar */
