:root {
    --bg-green:#029587;
    --bg-gray:#DBDAD2;
    --bg-lightgray: #EAEAEA;
    --bg-azure: #8EDAFC;
    --gray-color:#B1B1B1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Readex Pro', sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* BACKGROUND CONTAINER */
.container {
    width: 100%;
    min-width: 800px;
    height: 100vh;
    background: linear-gradient(180deg, var(--bg-green) 25%, var(--bg-gray) 25%);
    display: flex;
}

/* CHAT CONTAINER */
.chat-container {
    height: 90%;
    min-height: 230px;
    width: 80%;
    min-width: 800px;
    margin: auto;
    background-color: pink;
}

/* navbar */
.navbar {
    height: 100%;
    width: 40%;
    float: left;
    border-right: 1px solid lightgray;
    background-color: white;
}

/* nav header */
.nav-header {
    height: 60px;
    background-color: var(--bg-lightgray);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.my-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 5px;
}

.my-avatar img {
    width: 100%;
    height: 100%;
}

.tool-bar {
    width: 30%;
    display: flex;
    justify-content: space-around;
    color: var(--gray-color);
    font-size: 1.2em;
    margin-right: 5px;
}

.tool-bar i:hover {
    cursor: pointer;
}

/* nav-activate */
.nav-activate {
    height: 75px;
    background-color: var(--bg-azure);
    display: flex;
    align-items: center;
    justify-content: center;
}

.alarm {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    font-size: 1.2em;
    color: var(--bg-azure);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.alarm-text {
    width: auto;
}

.alarm-text .mess {
    font-size: 0.8em;
    font-weight: 400;
}

.alarm-text a {
    color: rgb(180, 180, 180);
    font-size: 0.7em;
    font-weight: 400;
}

/* nav menu */
.nav-menu {
    height: calc(100% - 135px);
    background-color: lightgreen;
}

.nav-menu-search {
    height: 40px;
    background-color: tomato;
}

.nav-menu-chats {
    height: calc(100% - 40px);
    overflow-y: auto;
}

/* chat */
.chat {
    width: 60%;
    height: 100%;
    background-color: whitesmoke;
    float: left;
}

.chat-header {
    height: 60px;
    background-color: var(--bg-lightgray);
}

.chat-content {
    height: calc(100% - 120px);
    background-image: url(../img/mine.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: content;
}

.chat-text {
    height: 60px;
    background-color: var(--bg-lightgray);
}