<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- vuejs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;700&display=swap" rel="stylesheet">

    <!-- style -->
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzapp</title>
</head>
<body>

    <div id="app" class="container">

        <!-- BONUS 9 - aggiungere una splash page visibile per 1s all'apertura dell'app -->
        <div v-show="splashPage" class="splash-page">
            <h1 class="splash-text">Benvenut&#601; su Boolzapp</h1>
        </div>

        <div class="chat-container clearfix">

            <!-- side navbar -->
            <div class="navbar" :class="{'bg-dark': darkMode}">
                <div class="nav-header" :class="{'bg-dark': darkMode, 'text-white': darkMode}">
                    <div class="my-avatar">
                        <img src="img/avatar_io.jpg" alt="">
                    </div>
                    <h4 class="name">Nome Utente</h4>
                    <div class="tool-bar">
                        <i @click="darkMode = ! darkMode" class="fas fa-adjust" :class="{'dark-switch': darkMode}"></i>
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                    
                <div class="nav-activate">
                    <div class="alarm">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    <div class="alarm-text">
                        <h5 class="mess">Ricevi notifiche di nuovi messaggi</h5>
                        <a href="#">Attiva notifiche dekstop</a>
                    </div>
                </div>

                <div class="nav-menu">

                    <div class="nav-menu-search" :class="{'bg-little-darker': darkMode}">
                        <i class="fas fa-search"></i>
                        <input :class="{'bg-darker': darkMode, 'text-gray': darkMode}" @keyup="search" type="text" placeholder="Cerca o inizia una nuova chat" v-model="searchChat">
                    </div>

                    <div class="nav-menu-chats" :class="{'bg-darker': darkMode, 'text-white': darkMode}">
                        <ul>
                            <li tabindex="0" v-show="contact.visible" @click="changeChat(contact, index)"
                            v-for="(contact, index) in contacts" class="nav-menu-item" :class="{'bg-darker': darkMode, 'text-white': darkMode}">
                                <div class="menu-avatar">
                                    <img :src='`img/avatar${contact.avatar}.jpg`' :alt='`${contact.name}`'>
                                </div>
                                <div class="menu-info">
                                    <div class="row-name-time">
                                        <h4 class="name">{{ contact.name }}</h4>
                                        <!-- BONUS 5 - inserire l'orario corretto nei messaggi -->
                                        <span class="time">{{ timeLive(contact).substr(11, 5) }}</span>
                                    </div>
                                    <!-- BONUS 4 - visualizzare nella lista dei contatti l'ultimo messaggio inviato/ricevuto da ciascun contatto -->
                                    <div class="row-message">
                                        <p class="message-text">{{  textLive(contact) }}</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /side navbar -->

            <!-- BONUS 8 - visualizzare un messaggio di benvenuto che invita l'utente a selezionare un contatto dalla lista per
            visualizzare i suoi messaggi, anziché attivare di default la prima conversazione -->
            <div v-if="counter == null" class="open-box">
                <h2 class="open-msg">Seleziona un contatto dalla lista per visualizzare la chat</h2>
            </div>

            <!-- side chat -->
            <div v-if="contacts.length > 0 && counter != null" class="chat">
                <div  class="chat-header" :class="{'bg-dark': darkMode, 'text-white': darkMode}">
                    <div class="chat-avatar-info">
                        <div class="chat-avatar">
                            <img :src='`img/avatar${contacts[counter].avatar}.jpg`' alt='`${contacts[counter].name}`'>
                        </div>
                        <div class="chat-info">
                            <h4 class="name">{{ contacts[counter].name }}</h4>
                            <!-- BONUS 6 - sotto al nome del contatto nella parte in alto a destra, cambiare l'indicazione dello stato: visualizzare il
                            testo "sta scrivendo..." nel timeout in cui il pc risponde, poi mantenere la scritta "online" per un paio di secondi e
                            infine visualizzare "ultimo accesso alle xx:yy" con l'orario corretto -->
                            <span v-show="contacts[counter].writingOnline" class="last-acces">{{ accessText }}</span>
                            <span v-show="contacts[counter].accessVisible" class="last-acces">Ultimo accesso oggi alle {{ lastAccessTime(contacts[counter]).substr(11, 5) }}</span>
                        </div>
                    </div>
                    <div class="chat-tool-bar">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>

                        <!-- cliccando sull'icona con i tre pallini in alto a destra, si apre un dropdown menu in cui sono presenti le voci "Elimina
                        messaggi" ed "Elimina chat" -->
                        <i @click="dropdownMenu = !dropdownMenu" class="fas fa-ellipsis-v"></i>
                        <div v-show="dropdownMenu" class="info-box">
                            <ul>
                                <li @click="emptyArray(contacts[counter].messages)">Elimina messaggi</li>
                                <li @click="deleteChat(contacts, counter)">Elimina chat</li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div  class="chat-content" :class="{'chat-content-dark': darkMode}">
                    <div v-for="(message, index) in contacts[counter].messages" :class="(message.status == 'received') ? 'received' : 'sent' " class="message-box">
                        <span @click="message.showInfo = !message.showInfo" class="tools-message"><i class="fas fa-angle-down"></i></span>
                        <div v-show="message.showInfo" class="info-box">
                            <ul>
                                <li>Info messaggio</li>
                                <li @click="deleteMsg(contacts[counter].messages, index)">Elimina messaggio</li>
                            </ul>
                        </div>
                        <p>{{ message.text }}</p>
                        <span class="time-message">{{ contacts[counter].messages[index].date.substr(11, 5) }}</span>
                    </div>
                </div>

                <div  class="chat-text" :class="{'bg-dark': darkMode, 'text-white': darkMode}">
                    <i  class="far fa-smile"></i>
                    <input :class="{'bg-darker': darkMode, 'text-gray': darkMode}" @keyup.enter="newMessage(contacts[counter].messages), access(contacts[counter])" type="text" placeholder="Scrivi un messaggio" v-model="newMsg">

                    <!-- BONUS 2 - A) cambiare icona in basso a destra (a fianco all'input per scrivere un nuovo messaggio) finché l'utente sta scrivendo: di default si visualizza l'icona del microfono, quando l'input non è vuoto si visualizza l'icona dell'aeroplano. Quando il messaggio è stato inviato e l'input si svuota, si torna a visualizzare il microfono. B) inviare quindi il messaggio anche cliccando sull'icona dell'aeroplano -->

                    <i @click="newMessage(contacts[counter].messages), access(contacts[counter])" v-if="newMsg.trim().length > 0" class="fas send-msg fa-paper-plane"></i>
                    <i v-else class="fas fa-microphone"></i>
                </div>
            </div>
            <!-- /side chat -->
        </div>
    </div>


    <script src="js/script.js"></script>
</body>
</html>